In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import re

In [2]:
#import nltk.util.ngrams
from nltk.util import ngrams
from nltk import ngrams

In [3]:
df=pd.read_excel('Aliasing_Master.xlsx') #Fix mention sheet name|

In [4]:
df.head()

,PID,SPI,PDS,Unnamed: 3,Alias,Master
0,JE-CRC301-FO-090686,C301FE 150007,TT-25,NaN,SPI,NaN
1,JE-CRC301-LT-150013B,C301FT 150007,XV-506C,NaN,C301LI 060003A,C301-LI-060003A
2,JE-CRC301-PSV-170490,C301FIC 150007,AE160551,NaN,C301XV 060008,C301-XV-060008
3,JE-CRC301-PDG-040018,C301FV 150007,C301B999,NaN,C301PDT 060002,C301-PDT-060002
4,JE-CRC301-PT-140042,C301PSV 060005,FI-DCS10,NaN,C301PSV 060011A,C301-PSV-060011A

In [5]:
df.drop(['Unnamed: 3','Alias',	'Master'], inplace=True, axis=1)

In [6]:
df.head()

                    PID              SPI       PDS
0   JE-CRC301-FO-090686  C301FE   150007     TT-25
1  JE-CRC301-LT-150013B  C301FT   150007   XV-506C
2  JE-CRC301-PSV-170490  C301FIC  150007  AE160551
3  JE-CRC301-PDG-040018  C301FV   150007  C301B999
4   JE-CRC301-PT-140042  C301PSV  060005  FI-DCS10

In [7]:
df.tail()

       PID                SPI  PDS
56415  NaN  C301XZLC 030009S1  NaN
56416  NaN  C301XZLO 030009S2  NaN
56417  NaN  C301XZLC 030009S2  NaN
56418  NaN    C301TSV  179006  NaN
56419  NaN    C301TSV  179007  NaN

## Strip

In [8]:
for i in df.columns:
    df[i] = df[i].str.strip()

## Bag of Words

In [12]:
for feat in df.columns:
    words_list = []
    alpha_words_list = []
    numeric_words_list = []
    
    for i,x in enumerate(df[feat]):
        words = re.findall(r'[A-Za-z]+|\d+', str(x))
        alpha_words = [word for word in words if word.isalpha()]
        numeric_words = [word for word in words if word.isdigit()]

        words_list.append(words)
        alpha_words_list.append(alpha_words)
        numeric_words_list.append(numeric_words)
    
    df[f'{feat}_bag_of_all'] = words_list
    df[f'{feat}_bag_of_alpha'] = alpha_words_list
    df[f'{feat}_bag_of_num'] = numeric_words_list

In [13]:
Total_alpha_bag_PID = []
Total_alpha_bag_SPI = []
Total_alpha_bag_PDS = []

for feat in df.columns:
    
    for i,x in enumerate(df[feat]):
        words = re.findall(r'[A-Za-z]+|\d+', str(x))
        alpha_words = [word for word in words if word.isalpha()]
        numeric_words = [word for word in words if word.isdigit()]

        words_list.append(words)
        alpha_words_list.append(alpha_words)
        numeric_words_list.append(numeric_words)
        
    if feat == 'PID':
        Total_alpha_bag_PID.append(words_list)
    elif feat == 'SPI':
        Total_alpha_bag_SPI.append(words_list)
    elif feat == 'PDS':
        Total_alpha_bag_PDS.append(words_list)

In [14]:
df.head()

,PID,SPI,PDS,PID_bag_of_all,PID_bag_of_alpha,PID_bag_of_num,SPI_bag_of_all,SPI_bag_of_alpha,SPI_bag_of_num,PDS_bag_of_all,PDS_bag_of_alpha,PDS_bag_of_num
0,JE-CRC301-FO-090686,C301FE 150007,TT-25,"[JE, CRC, 301, FO, 090686]","[JE, CRC, FO]","[301, 090686]","[C, 301, FE, 150007]","[C, FE]","[301, 150007]","[TT, 25]",[TT],[25]
1,JE-CRC301-LT-150013B,C301FT 150007,XV-506C,"[JE, CRC, 301, LT, 150013, B]","[JE, CRC, LT, B]","[301, 150013]","[C, 301, FT, 150007]","[C, FT]","[301, 150007]","[XV, 506, C]","[XV, C]",[506]
2,JE-CRC301-PSV-170490,C301FIC 150007,AE160551,"[JE, CRC, 301, PSV, 170490]","[JE, CRC, PSV]","[301, 170490]","[C, 301, FIC, 150007]","[C, FIC]","[301, 150007]","[AE, 160551]",[AE],[160551]
3,JE-CRC301-PDG-040018,C301FV 150007,C301B999,"[JE, CRC, 301, PDG, 040018]","[JE, CRC, PDG]","[301, 040018]","[C, 301, FV, 150007]","[C, FV]","[301, 150007]","[C, 301, B, 999]","[C, B]","[301, 999]"
4,JE-CRC301-PT-140042,C301PSV 060005,FI-DCS10,"[JE, CRC, 301, PT, 140042]","[JE, CRC, PT]","[301, 140042]","[C, 301, PSV, 060005]","[C, PSV]","[301, 060005]","[FI, DCS, 10]","[FI, DCS]",[10]

In [24]:
df.tail()

,PID,SPI,PDS,PID_bag_of_all,PID_bag_of_alpha,PID_bag_of_num,SPI_bag_of_all,SPI_bag_of_alpha,SPI_bag_of_num,PDS_bag_of_all,PDS_bag_of_alpha,PDS_bag_of_num
56415,NaN,C301XZLC 030009S1,NaN,[nan],[nan],[],"[C, 301, XZLC, 030009, S, 1]","[C, XZLC, S]","[301, 030009, 1]",[nan],[nan],[]
56416,NaN,C301XZLO 030009S2,NaN,[nan],[nan],[],"[C, 301, XZLO, 030009, S, 2]","[C, XZLO, S]","[301, 030009, 2]",[nan],[nan],[]
56417,NaN,C301XZLC 030009S2,NaN,[nan],[nan],[],"[C, 301, XZLC, 030009, S, 2]","[C, XZLC, S]","[301, 030009, 2]",[nan],[nan],[]
56418,NaN,C301TSV 179006,NaN,[nan],[nan],[],"[C, 301, TSV, 179006]","[C, TSV]","[301, 179006]",[nan],[nan],[]
56419,NaN,C301TSV 179007,NaN,[nan],[nan],[],"[C, 301, TSV, 179007]","[C, TSV]","[301, 179007]",[nan],[nan],[]

Imp!

'F0-010271/3OP1' in given dataset is incorrect. It should be FO instead of F0

In [51]:
# Find matches between PID and SPI
df['matches'] = df.apply(lambda row: set(row['SPI_bag_of_alpha']) & set(row['PID_bag_of_alpha']), axis=1)

In [53]:
# Find matches between PID and SPI
df['matches'] = df.apply(lambda row: (set(row['SPI_bag_of_alpha']) == set(row['PID_bag_of_alpha'])) and (set(row['SPI_bag_of_num']) == set(row['PID_bag_of_num'])), axis=1)

In [55]:
df.sort_values('matches', ascending= True).head()

,PID,SPI,PDS,PID_bag_of_all,PID_bag_of_alpha,PID_bag_of_num,SPI_bag_of_all,SPI_bag_of_alpha,SPI_bag_of_num,PDS_bag_of_all,PDS_bag_of_alpha,PDS_bag_of_num,matches
0,JE-CRC301-FO-090686,C301FE 150007,TT-25,"[JE, CRC, 301, FO, 090686]","[JE, CRC, FO]","[301, 090686]","[C, 301, FE, 150007]","[C, FE]","[301, 150007]","[TT, 25]",[TT],[25],False
37607,NaN,C301VT 020001C2,NaN,[nan],[nan],[],"[C, 301, VT, 020001, C, 2]","[C, VT, C]","[301, 020001, 2]",[nan],[nan],[],False
37608,NaN,C301VE 020001C2,NaN,[nan],[nan],[],"[C, 301, VE, 020001, C, 2]","[C, VE, C]","[301, 020001, 2]",[nan],[nan],[],False
37609,NaN,C301VI 020001C2,NaN,[nan],[nan],[],"[C, 301, VI, 020001, C, 2]","[C, VI, C]","[301, 020001, 2]",[nan],[nan],[],False
37610,NaN,C301VT 020001C3,NaN,[nan],[nan],[],"[C, 301, VT, 020001, C, 3]","[C, VT, C]","[301, 020001, 3]",[nan],[nan],[],False

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.cluster import KMeans
from scipy.cluster.hierarchy import dendrogram, linkage

#### Create the documYent-term matrix
vectorizer = CountVectorizer()

In [ ]:
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.cluster.hierarchy import linkage, dendrogram

# Convert your lists into a matrix representation
list_matrix = np.array(df['PDS_bag_of_alpha'].tolist(), dtype=object)

# Reshape the list_matrix into a 2D array
list_matrix_2d = np.reshape(list_matrix, (len(list_matrix), 1))

# Compute the pairwise Jaccard similarity between lists
jaccard_similarity = pairwise_distances(list_matrix_2d, metric='jaccard')

# Perform hierarchical clustering
cluster_linkage = linkage(jaccard_similarity, method='average')

# Plot the dendrogram
dendrogram(cluster_linkage)

In [ ]:
# Cluster the texts using K-Means algorithm

X = vectorizer.fit_transform(spid_unique_df['PDS_bag_of_alpha'].values.astype('U'))

kmeans = KMeans(n_clusters=8)
kmeans.fit(X)

labels = kmeans.labels_
#df['PDS_kmeans'] = labels

# Print the cluster labels assigned to each text
#for i, pid in enumerate(spid_unique):
 #   print(f"Text {i+1} is assigned to cluster {kmeans.labels_[i]+1}")